{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center mt-5">トップページ</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-2">
            <a id='word-list-list-link' href="{% url 'word-list-list'%}" class="btn btn-primary btn-lg">単語を登録 (C)</a>
            <form method="post">
                <button id="start-link" type="submit" class="btn btn-primary btn-lg my-3 ">単語テストを始める (Enter)</button>
                <p class="mt-5">出題数の上限: {{ max_value }}</p>
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
    </div>
<script defer src="{% static 'custom.js' %}"></script>
{% endblock content %}
