{% extends 'base.html' %}

{% block title %}リスト一覧{% endblock %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'create-list' %}" class="btn btn-primary btn-lg my-5">リストを作成する</a>
    </div>
    {% for object in object_list %}
    <div class="card bg-dark">
        <div class="card-header">
            {{ object.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title text-light">{{ object.list_name }}</h5>
            <a href="{% url 'update-list' pk=object.pk %}" class="btn btn-primary btn-sm">名前を変更</a>
            <a href="{% url 'delete-list' pk=object.pk %}" class="btn btn-primary btn-sm">削除</a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}