{% extends 'base.html' %}
{% load static %}

{% block title %}リスト一覧{% endblock %}

{% block content %}
    <div class="text-center">
        <a if="word-list-create-link" href="{% url 'word-list-create' %}" class="btn btn-primary btn-lg my-5">リストを作成する</a>
    </div>
    {% for object in object_list %}
    <div class="card bg-dark text-light">
        <div class="card-header">
            <h5 class="card-title">{{ object.list_name }}</h5>
        </div>
        <div class="card-body">
            <a href="{% url 'word-list' word_list_pk=object.pk %}" class="btn btn-primary btn-sm">編集</a>
            <a href="{% url 'word-list-delete' pk=object.pk %}" class="btn btn-primary btn-sm">削除</a>
        </div>
    </div>
    {% endfor %}
    <script src="{% static 'custom.js' %}"></script>
{% endblock content %}