{% extends 'base.html' %}

{% block title %}単語一覧{% endblock %}

{% block content %}
    {% for item in object_list %}
    <div class="card">
        <div class="card-header">
            {{ item.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.english }}</h5>
            <p class="card-text">{{ item.japanese }}</p>
            <a href="{% url 'update-word' item.pk %}" class="btn btn-primary">編集する</a>
            <a href="{% url 'delete-word' item.pk %}" class="btn btn-primary">削除する</a>
        </div>
    </div>
    {% endfor %}
{% endblock content %}