{% extends 'base.html' %}

{% block content %}
    <form method="post" class="p-4 m-4 bg-dark border border-gray rounded form-group">
        {% csrf_token %}
        {% for error in form.errors.values %}
            {{ error }}
        {% endfor %}
        <label>
            ユーザーID
        </label>
        <input class="form-control bg-soft-dark text-light" name="username">
        <label>
            パスワード
        </label>
        <input type="password" class="form-control" name="password">
        <button type="submit" class="btn btn-primary mt-4">ログインする</button>
    </form>
{% endblock %}